body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}

table {
  border-radius: 3px;
  margin: 10px 50px;
  background-color: #ffffff;
  border-collapse: collapse;
  table-layout: fixed;
  width:400px; /* or whatever width you want. */
  max-width:400px; /* or whatever width you want. */
  height:400px; /* or whatever width you want. */
  max-height:400px; /* or whatever width you want. */
  
}

th {
  background-color: #ffffff;
  color: rgba(19, 7, 7, 0.66);
  border: 1px solid #cac8c8;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


td {
  background-color: #ffffff00;
  border: 1px solid #cac8c8;
}

th,
td {
  min-width: 1px;
  padding: 0px 0px;
}

.drop-zone {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
}

.drag-el {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 5px;
}

img {
    max-width:100px;
    max-height:100px;
    width:auto;
    height:auto;
}

