{
    "apiUrl" : "http://127.0.0.1:8000/",
    "client_id" : "NxKhkar4r8xiGAwsKnEaZ4Ycng35Za1joAnCVLvB",
    "client_secret" : "4EICbJq27G3FcO05qwUZeiOpNYPHqBHVrchWdx5wB209AxT317l7JXaj0EvQ9bqCfe4N9hALE3O24PVBJ9Amf9orC4kzUkAYX1hdONkue013qWUsiOZ7ZtbJ6VquyMWi"
}